select{
    outline: none;
    border: none;
    background-color: #ff2c3a09;
    padding: 1rem;
    border: 1.5px solid #ff2c3a6c;
    border-radius: 0.5rem;
    width: min-content;
}
#mainSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}
.featurePage{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4rem;
    
    background-color: #ff2c3a10;
    padding-block: 4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    
}