
  
  .tourcard{
    display: grid;
    padding: 0.6rem 0.6rem 1rem 0.6rem;
    background-color: white;
    border-radius: 0.4rem;
    width: 100%;
    background-color: rgba(177, 177, 177, 0.226);
    
  }
  .tourcard:hover img:first-child{
    transform: scale(1.05);
  }
  #carImg{
    transition: all 0.2s ease-in;
  }